<main class="hero">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 hero-content text-center">
        <h1 class="display-4">We are a developers community</h1>
        <h3 class="font-weight-light">We are a family</h3>
      </div>
    </div>
  </div>
  <div class="transparency"></div>
</main>
