.container
  .row
    .col-lg-8
      - @posts.each do |post|
        .card.mb-3
          .card-body
            %h5.card-title= post.title
            %h6.card-subtitle.mb-2.text-muted.font-weight-light= time_ago_in_words(post.created_at)
            %a.card-link{:href => "#"} See more
            %a.card-link{:href => "#"} Comments
    .col-lg-4
      .card
        .card-header Tags
        .card-body
          %h5.card-titlePrimary card title
          %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>
